@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Nanum+Pen+Script&display=swap');

.red {
  font-weight: bold;
}
.red:hover {
  color: red;
}
.yellow {
  font-weight: bold;
}
.yellow:hover {
  color: yellow;
}
.blue {
  font-weight: bold;
}
.blue:hover {
  color: blue;
}
.green {
  font-weight: bold;
}
.green:hover {
  color: green;
}
#fav {
  font-size: 24px;
  color: orange;
  font-weight: bold;
}
li {
  list-style: none;
}

#ex_03 > li > a {
  text-decoration-line: none;
}
#ex_03 > .colorTxt2 > a {
  background-color: #0088cc;
  color: white;
}

#ex_04 > li > a > span {
  color: #f00;
  font-style: italic;
}
#ex_04 > li > a {
  text-decoration: none;
}

#ex_05 > div div > span > span {
  background-color: #f66;
  color: #f00;
  font-weight: bold;
}

#ex_06 > div p:nth-child(3) {
  display: inline;
  color: white;
  background-color: #0a3;
}

#ex_07 > p:nth-of-type(4) {
  background-color: #fa3;
  font-size: 30px;
}

a {
  color: #777;
  text-decoration: none;
}

#ex_08 ul {
  padding: 0;
}

.vision{
  color: #f85;
}
.meterial{
  font-size: 25px;
  color: blue;
}

.product{
  color: #2b3;
}


#ex_09{
  background-color: #aaa;
  text-align: center;
  line-height: 100px;
  width: 100px;
}

#ex_09 .box1{
  width: 100px;
  height: 100px;
  background-color: #aaa;
  text-align: center;
  line-height: 100px;
}
#ex_09 .box2{
  width: 100px;
  height: 100px;
  background-color: #faf;
  text-align: center;
  line-height: 100px;
}

#ex_09 .box3{
  width: 100px;
  height: 100px;
  background-color: #aaa;
  text-align: center;
  line-height: 100px;
}

#ex_09 .box4{
  width: 100px;
  height: 100px;
  background-color: #faf;
  text-align: center;
  line-height: 100px;
}




#ex_10 h4{
  font-size: 26px;
  color: #27e;
  font-family: "Nanum Gothic";
  text-align: center;
  
  
}

.alice_img{
  display: block;
  width: 120px;
  margin: 0 auto;
  vertical-align: baseline;

  
}

.alice{
    font-family: "Nanum Pen Script";
    font-size: 28px;
}